*.iml
.gradle/
/mars/local.properties
.idea/
.DS_Store
build/

obj/

*.swp
*.pyc
 
 
/mars/app/win32proj/Debug/*.obj

/mars/boost/Debug/*.obj

/mars/comm/win32proj/Debug/*.obj

/mars/log/win32proj/Debug/*.obj

/samples/win32test/Debug/*.obj
 

